* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebe5ca;
}
.welcome-page {
  height: 80vh;
  display: grid;
  align-items: center;
  justify-items: center;
}
.welcome-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-buttons-container p {
  margin: 20px;
}
.welcome-buttons-container #button {
}
#logo-container {
  display: inline;
}
#votes {
  position: absolute;
  right: 0;
  padding-right: 1em;
}
.article-container {
  position: relative;
  border-bottom: solid 1px grey;
  border-radius: 2%;
  border-radius: 2%;
  height: 20em;
  text-align: center;
}
.article-container #topic {
  position: absolute;
  bottom: 0;
}
article #article-topic {
  margin-left: 2%;
  margin-bottom: 2%;
  width: 100px;
}
#article-heading-container {
  width: 100vw;
}
#article-heading {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  padding-left: 12em;
  padding-top: 2em;

  text-decoration: underline;
}
.article-list {
  list-style-type: none;
  /* outline: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.article {
  margin: 1em;
  width: 20rem;
  border-radius: 5px;
}
.article img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
#article-display {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.article-page-container {
  text-align: center;
  width: 50vw;
  height: 80%;
}
.article-page-container article {
  border-radius: 2%;
}
#article-body {
  text-align: left;
}
#article-body-container {
  margin-left: 2%;
  width: 95%;
}
.article-page-container img {
  width: 100%;
  height: 20%;
  object-fit: cover;
}
header {
  width: 100vw;
  height: 10vh;
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid black 1px;
  background-color: #ddcea5;
}

.nav-links {
  margin: 5px;
  width: 7em;
  position: relative;
  height: 2.5em;
  border: 3px ridge #fc2f00;
  outline: none;
  background-color: transparent;
  color: black;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 12.5px;
  font-weight: bold;
  cursor: pointer;
}
.nav-links::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #ddcea5;
  transition: 0.5s;
  transform-origin: center;
}
.nav-links::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #ddcea5;
  transition: 0.5s;
}
.nav-links:hover::before,
button:hover::after {
  transform: scale(0);
}

.nav-links:hover {
  box-shadow: inset 0px 0px 25px #fc2f00;
}
footer {
  position: relative;
  bottom: 0;
  display: flex;
  column-gap: 50px;
  border-top: solid 1px black;
  width: 100vw;
  height: 10vh;
  padding: 2vh;
  align-items: center;
  justify-content: center;
  background-color: #ddcea5;
}
#post-comment {
  display: grid;
}
.loader-container {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side, #000 94%, #0000) left/20%
    100%;
  background: linear-gradient(#000 0 0) left/0% 100% no-repeat #ddd;
  animation: l17 2s infinite steps(6);
}
@keyframes l17 {
  100% {
    background-size: 120% 100%;
  }
}
.error-container {
  margin-top: 40px;
  text-align: center;
  width: 100vw;
  height: 80vh;
}
.not-found-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.img-container {
  margin: auto;
  height: 60%;
  width: 60%;
}

/* CSS */
.button {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 5px;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.button:active {
  opacity: 0.5;
}
.comments-list {
  background-color: #ddcea5;
  list-style-type: none;
  margin-bottom: 5px;
}
#author-votes {
  display: flex;
}
#author-votes > h4 {
  margin-right: 10px;
}
.vote-button {
  background-color: transparent;
  border: none;
}
#upvote {
  color: green;
}
.downvote {
  color: red;
}
#toggle-comments {
  background-color: #fc2f00;
  margin-bottom: 5px;
}
#topic-section {
  height: 80vh;
  display: grid;
  justify-content: center;
  align-items: center;
}
.topic-item {
  list-style-type: none;
  margin: 5px;
  text-align: center;
}
#topics-container {
  display: grid;
}
#delete-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
#vote-error {
  color: red;
}
